QMainWindow, QWidget {
  background-color: rgb(25, 25, 25);
}
QPushButton {
  background-color: transparent;
  color: rgb(220, 248, 255);
  padding: 5%;
}

QTextBrowser {
  color: white;
}

QPushButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

QTextEdit {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
}

QLineEdit {
    border: 1px solid #333333;
}

* {
  text-align: center;
}
